<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:8000/styles/main.css">
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
</head>
<body>
    <header>
    <div class="promo">
        <span>
            <a href="#">Free shipping orders $50+</a>
        </span>
    </div>
    <div class="logo">
        <a href="http://localhost:8000">
            <img src="http://localhost:8000/logo.jpg" alt="logo">
        </a>
    </div>
    <div class="baner">
        <img src="http://localhost:8000/baner.jpg" alt="">
    </div>
    </header>

    <div class="text"> 
    <span>Explore Collections</span>
    </div>
    <div class="pictures">
        <div class="picture">
            <img src="http://localhost:8000/men.jpg" alt="pic">
            <div class="content">
                <a href="http://localhost:8000/men">Shop Men</a>
            </div>
        </div>
        <div class="picture">
            <img src="http://localhost:8000/women.jpg" alt="pic">
            <div class="content">
                <a href="http://localhost:8000/women">Shop Women</a>
            </div>
        </div>
        <div class="picture">
            <img src="http://localhost:8000/kids.jpg" alt="pic">
            <div class="content">
                <a href="http://localhost:8000/kids">Shop Kids</a>
            </div>
        </div>   
        <div class="picture">
            <img src="http://localhost:8000/outlet.jpg" alt="pic">
            <div class="content">
                <a href="http://localhost:8000/outlet">Outlet</a>
            </div>
        </div>       
    </div>

    <footer>
        <a href="tel:3333333">Phone:3333333</a>
        <a href="email:main@gmail.com">Email: email:main@gmail.com</a>
    </footer>
</body>
</html>