<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>outlet</title>
    <link rel="stylesheet" href="http://localhost:8000/styles/main.css">
    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
</head>
<body>
    <header>
    <div class="promo">
        <span>
            <a href="#">Free shipping orders $50+</a>
        </span>
    </div>
    <div class="logo">
        <a href="http://localhost:8000">
            <img src="http://localhost:8000/logo.jpg" alt="logo">
        </a>
    </div>
    </header>

    <div class="main-block">
        <div class="item">
            <img src="http://localhost:8000/outlet-shoes.jpg" alt="pic">
        </div>
        <div class="item-description">
            <h1>Men's Running Shoes</h1>
            <span>These are running shoes anyone can wear to go faster—with Charged Cushioning™ to help protect against impact, a breathable upper, and durability for miles.</span>
        </div>
    </div>

    <footer>
        <a href="tel:3333333">Phone:3333333</a>
        <a href="email:main@gmail.com">Email: email:main@gmail.com</a>
    </footer>
</body>
</html>